body{
  background-image: url(images/ddd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 opacity: 1;
  margin: 0px;
  overflow-x: hidden;
 
}
.right{
  background-color: rgba(137, 136, 136, 0.134);
  
}

.let{
  display: flex;
 align-items: last baseline;
 
  font-weight: 300;
  
  color: rgb(233, 227, 227);

}
.hed1{
  font-size: 140px;
}
.hed2{
  font-size: 24px;
  font-weight: 500;
}

.sp{
  margin-left:25px ;
 
}
.form{
  
   border: none;

 color: rgb(15, 15, 15);

}
.bo{
  color: rgb(246, 240, 240);
 border: solid 1px rgb(144, 140, 140);
}
input::placeholder{
  color:rgb(229, 219, 219);
  font-weight: 500;
}
.ddd{
  height: 560px ;
}
@media( max-width:500px ) {

  .hed1{

    font-size: 40px;
    font-weight: 100;
  }
  .hed2{

    font-size: 10px;
    font-weight: 500;
  }
  
.ddd{
  height: 20px;
}
}

sup{
  font-size: 40px;
}
@media( max-width:680px ) {

  .hed1{

    font-size: 40px;
    font-weight: 500;
    
  }
  sup{
    font-size: 20px;
  }
  .hed2{

    font-size: 15px;
    
    font-weight: 500;
  }
  
.ddd{
  height: 50px;
  
}
}


@media( max-width:400px ) {

  .hed1{

    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
  }
  sup{
    font-size: 15px;
  }

  .hed2{

    font-size: 6px;
    font-weight: 500;
  }
  
.ddd{
  height: 10px;
}
}



